<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257973871141-4oeq7vpcfp86e45iu721hv3naqt70fo5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257973871141-4oeq7vpcfp86e45iu721hv3naqt70fo5</string>
	<key>API_KEY</key>
	<string>AIzaSyBAFTKSART8CmU2eXp26ExjETuaOFAv4is</string>
	<key>GCM_SENDER_ID</key>
	<string>257973871141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tikact.app</string>
	<key>PROJECT_ID</key>
	<string>tikact-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>tikact-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257973871141:ios:6bb77f93c40aab455d55cc</string>
	<key>DATABASE_URL</key>
	<string>https://tikact-firebase.firebaseio.com</string>
</dict>
</plist>